.comment {
    display: flex;
    align-items: flex-start;
    border: 1px solid var(--twitter-background);
}

.comment_body {
    flex: 1;
    padding: 10px;
}

.comment_body>img {
    border-radius: 20px;
    max-width: 100%;
    aspect-ratio: 4/3;
}

.comment_header-description {
    margin-bottom: 10px;
    font-size: 15px;
}

.comment_header-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment_header-text>h3 {
    font-size: 15px;
    margin-bottom: 5px;
}

.comment_header-text .comment_more-options {
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    width: 30px;
    height: 30px;
    transition: all 100ms ease-out;
}

.comment_more-options:hover {
    background-color: var(--twitter-hover);
    color: var(--twitter-color);
}

.comment_badge {
    font-size: 14px !important;
    color: var(--twitter-color);
}

.comment_header-special {
    font-weight: 600;
    font-size: 12px;
    color: gray;
}

.comment_avatar {
    padding: 15px;
}

.comment_footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 85%;
}

.comment_footer>.MuiSvgIcon-root {
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    width: 30px;
    height: 30px;
    transition: all 100ms ease-out;
}

.comment_footer>.ChatBubble:hover,
.comment_footer>.publish:hover {
    background-color: rgb(80 183 245 / 20%);
    color: var(--twitter-color);
}

.comment_footer>.repeat:hover {
    background-color: rgb(0 255 0 / 20%);
    color: rgb(7, 189, 7);
}

.comment_footer>.favorit:hover {
    background-color: rgb(249 24 128 / 20%);
    color: rgb(249, 24, 128);
}