.detail {
    flex: .5;
    border-left: 1px solid var(--twitter-background);
    border-right: 1px solid var(--twitter-background);
    background-color: var(--twitter-white);
    height: fit-content;
    min-height: 100vh;
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
}

/* Chrome */
.detail::-webkit-scrollbar {
    display: none;
}

.detail_header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: rgba(255, 255, 255, .65);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid var(--twitter-background);
    z-index: 100;
    padding-left: 16px;
    padding-right: 16px;
    height: 53px;
    display: flex;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

.detail_header>.MuiSvgIcon-root {
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    width: 36px;
    height: 36px;
    transition: all 100ms ease-out;
}

.detail_header>.MuiSvgIcon-root:hover {
    background-color: var(--twitter-background);
}

.detail_header>h2 {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 5px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.post {
    display: flex;
    align-items: flex-start;
    border: 1px solid var(--twitter-background);
    padding-bottom: 10px;
}

.post_body {
    flex: 1;
    padding: 10px;
}

.post_body img {
    border-radius: 20px;
    max-width: 100%;
}

.post_detail_link {
    color: inherit;
    text-decoration: none;
}

.detail .post_header-description {
    font-size: 23px;
    line-height: 28px;
}

.post_header-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post_header-text>h3 {
    font-size: 15px;
    margin-bottom: 5px;
}

.post_header-text .post_more-options {
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    width: 30px;
    height: 30px;
    transition: all 100ms ease-out;
}

.post_more-options:hover {
    background-color: var(--twitter-hover);
    color: var(--twitter-color);
}

.post_badge {
    font-size: 14px !important;
    color: var(--twitter-color);
}

.post_header-special {
    font-weight: 600;
    font-size: 12px;
    color: gray;
}

.post_avatar {
    padding: 15px;
}

.post_footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 85%;
}

.post_footer_icon_wrapper {
    display: flex;
    gap: .5rem;
    align-items: center;
    cursor: pointer;
}

.post_footer_icon_wrapper span {}

.post_footer .MuiSvgIcon-root {
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    width: 30px;
    height: 30px;
    transition: all 100ms ease-out;
}

.post_footer .ChatBubble:hover,
.post_footer .publish:hover,
.post_footer_icon_wrapper:hover>.ChatBubble {
    background-color: rgb(80 183 245 / 20%);
    color: var(--twitter-color);
}

.post_footer>.repeat:hover {
    background-color: rgb(0 255 0 / 20%);
    color: rgb(7, 189, 7);
}

.post_footer>.favorit:hover {
    background-color: rgb(249 24 128 / 20%);
    color: rgb(249, 24, 128);
}

@media only screen and (max-width: 499px) {
    .detail {
        flex: 1;
        height: 100vh;
        overflow-y: scroll;
        padding-bottom: 100px;
    }
}