.profile_setting {}

.profile_setting_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 109;
    background-color: rgba(255 255 255 / 50%);
}

.profile_setting_modal {
    width: 90%;
    max-width: 600px;
    min-width: 280px;
    height: 86vh;
    background-color: var(--twitter-white);
    border-radius: 20px;
    overflow-y: scroll;
    box-shadow: 2px 2px 16px rgba(0 0 0 / 20%);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.profile_setting_modal::-webkit-scrollbar {
    border-radius: 0 100px 100px 0;
}

.profile_setting_modal::-webkit-scrollbar-thumb {
    border-radius: 100px;
}

.edit_cover {
    position: relative;
}

.edit_cover .avatar_overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0 0 0 / 20%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit_cover .MuiSvgIcon-root {
    color: var(--twitter-white);
    font-size: 2.7rem;
    padding: 10px;
    background-color: rgba(0 0 0 / 40%);
    box-shadow: 2px 2px 16px rgba(255 255 255 / 20%);
    border-radius: 50%;
    cursor: pointer;
    transition: var(--transition);
}

.edit_cover .MuiSvgIcon-root:hover {
    background-color: rgba(0 0 0 / 30%);
}

.profile_setting_modal form {
    margin-top: 5rem;
    padding: 1rem;
}

.profile_setting_modal .form_group.file_wrapper {
    display: none;
}

.profile_setting_modal .form_group {
    border: 1px solid var(--twitter-background);
    border-radius: 5px;
    padding: .5rem;
}

.profile_setting_modal .form_group:focus-within {
    border: 2px solid var(--twitter-color);
}

.profile_setting_modal .form_group:focus-within label {
    color: var(--twitter-color);
}

.profile_setting_modal .form_group:not(:last-child) {
    margin-bottom: 1.5rem;
}

.profile_setting_modal .form_group label {
    display: block;
    padding-bottom: 5px;
    color: var(--twitter-gray);
    font-weight: 300;
    font-size: 14px;
    user-select: none;
    -webkit-user-select: none;
}

.form_group input,
.form_group textarea {
    width: 100%;
    border: none;
    font-size: 1.1rem;
    font-weight: 400;
}

.form_group input:focus,
.form_group textarea:focus {
    outline: none;
}

.profile_setting_modal .form_group textarea {
    resize: none;
    height: 70px;
}

.edit_media{
    overflow: hidden;
}

.edit_media_wrapper {
    width: 100%;
    height: 92%;
    padding: 0 1rem;
}

.edit_media_figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.edit_media_figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.edit_media_figure .crop_wrapper {
    border: 4px solid var(--twitter-color);
    aspect-ratio: 3 / 1;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.avatar_editor{
    width: 100% !important;
    height: 100% !important;
}