.sidebar {
    flex: .2;
    background-color: var(--twitter-white);
    display: flex;
    justify-content: center;
    width: calc(100vw - 85%);
}

.sidebar_wrapper {
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 100;
    padding-right: 20px;
    width: inherit;
}

.sidebar_twitterIcon {
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 2.7rem !important;
    width: 2.7rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar_twitterIcon>.MuiSvgIcon-root {
    color: var(--twitter-color);
    font-size: 2rem !important;
}

.sidebar_twitterIcon:hover {
    cursor: pointer;
    background-color: var(--twitter-hover);
    border-radius: 50%;
    transition: background-color 100ms ease-out;
}

.sidebar_tweet {
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px !important;
    margin-top: 20px !important;
}

.logoutBtn {
    position: absolute;
    bottom: 20px;
}

.sidebar_tweet_mobile {
    background-color: var(--twitter-color);
    color: var(--twitter-white);
    display: none;
    border-radius: 50%;
}

@media only screen and (max-width: 1264px) {
    .sidebar {
        flex: .15;
        justify-content: flex-end;
    }

    .sidebar_wrapper {
        width: fit-content;
    }

    .sidebar_tweet {
        display: none !important;
    }

    .logoutBtn {
        border-radius: 50%;
    }

    .sidebar_tweet_mobile {
        display: block;
    }
}

@media only screen and (min-width: 1400px) {
    .sidebar_wrapper {
        width: unset;
    }
}

@media only screen and (max-width: 1080px) {
    .sidebar {
        flex: .1;
    }
}

@media only screen and (max-width: 1004px) {
    .sidebar {
        flex: .2;
        min-width: 80px;
    }
}

@media only screen and (max-width: 780px) {
    .sidebar {
        max-width: 100px;
    }
}

@media only screen and (max-width: 700px) {
    .sidebar {
        flex: .14;
        justify-content: center;
        /* max-width: 80px; */
        min-width: auto !important;
    }

    .sidebar_wrapper {
        padding: 0;
    }
}

@media only screen and (max-width: 499px) {
    .sidebar {
        background-color: var(--twitter-white);
        z-index: 100;
        position: fixed;
        left: 0;
        max-width: unset;
        width: 100vw;
        bottom: 0;
        border-top: 1px solid var(--twitter-background);
    }

    .sidebar_wrapper {
        position: static;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        width: inherit;
    }

    .sidebar_twitterIcon {
        display: none;
    }

    .sidebar_wrapper .sidebar_option-wrapper:nth-child(6),
    .sidebar_wrapper .sidebar_option-wrapper:nth-child(7),
    .sidebar_wrapper .sidebar_option-wrapper:nth-child(8),
    .sidebar_wrapper .sidebar_option-wrapper:nth-child(9) {
        display: none !important;
    }

    .sidebar_tweet_mobile {
        position: fixed;
        right: 20px;
        bottom: 72px;
    }

    .logoutBtn {
        position: static;
        display: flex;
        border: none;
    }
}