.chat_box {
    position: sticky;
    bottom: 0;
    width: inherit;
    padding: 5px 10px;
    border-top: 1px solid var(--twitter-background);
    background-color: var(--twitter-white);
}

.chat_box figure {
    max-height: 150px;
    overflow: hidden;
    margin: 0;
    margin-bottom: 5px;
}

.chat_box img {
    aspect-ratio: 16/9;
    object-fit: contain;
}

.chat_box .MuiSvgIcon-root {
    color: var(--twitter-color);
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    width: 32px;
    height: 32px;
    transition: all 200ms ease-out;
}

.chat_box .MuiSvgIcon-root:hover {
    background-color: var(--twitter-background);
}

.chat_box-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.chat_box-icons {
    display: flex;
    align-items: center;
}

.chat_box-wrapper input[type="file"],
.chat_arrrow_forward {
    display: none !important;
}

.chat_box-wrapper label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat_box-wrapper .chat_input {
    resize: none;
    flex: 100%;
    border: 1px solid var(--twitter-background);
    border-radius: 20px;
    /* padding: 5px; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-height: 60px;
    height: 20px;
    overflow-y: scroll;
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
    white-space: pre-wrap;
    padding: 5px;
    padding-left: 8px;
    box-sizing: content-box;
}

.chat_box-wrapper:focus-within .chat_box-icons {
    display: none;
}

.chat_box-wrapper:focus-within .chat_arrrow_forward {
    display: block !important;
}

/* Chrome */
.chat_input::-webkit-scrollbar {
    display: none;
}

.chat_input:focus {
    outline: 1px solid var(--twitter-color);
}